body {
    margin: 0;
    /* Remove default margin */
}

iframe {
    display: block;
    /* iframes are inline by default */
    height: 100vh;
    /* Set height to 100% of the viewport height */
    width: 100vw;
    /* Set width to 100% of the viewport width */
    border: none;
    /* Remove default border */
}

button.round {
    background-color: #48abe0;
    color: white;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 130px;
    width: 130px;
    box-shadow: 0 2px 4px darkslategray;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

button.round:hover {
    background-color: #65b9e6;
}

button.round:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}